{{ 'home-more-collection.css' | asset_url | stylesheet_tag }}
<style>
  .home-more-collection_main_section.more-collection-margin_padding {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  @media only screen and (max-width: 660px) {
    .home-more-collection_main_section.more-collection-margin_padding {
      margin-top: 0px;
    }
  }
</style>
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div
  class="home-more-collection_main_section element-margin-top more-collection-margin_padding section-{{ section.id }}-padding"
  id="template--{{ section.id }}__home_more_collection_QqMfMi"
>
  <div class="home-more-collection_main_section_title page-width">
    <div class="home-more-collection_first_Subsection_title">
      {% if section.settings.title != blank %}
        <h3>{{ section.settings.title }}</h3>
      {% endif %}
    </div>
  </div>
  <div class="home-more-collection_bottom_section page-width">
    <div class="swiper home-more-collection-swiper">
      <div class="swiper-wrapper">
        {%- if section.blocks.size > 0 -%}
          {%- for block in section.blocks -%}
            <div class="swiper-slide home-more-collection_swiper_slider">
              <a href="{{ block.settings.link }}" class="home-more-collection_main_card">
                <div class="home-more-collection_slider_image_div">
                  {% if block.settings.image != blank %}
                    <img
                      src="{{ block.settings.image | image_url: width: auto}}"
                      loading="lazy"
                      width="auto"
                      height="auto"
                      class="home-more-collection_slider_image"
                    >
                  {% endif %}
                  <div class="home-more-collection-main-title-container">
                    <div class="home-more-collection-image-title">{{ block.settings.title }}</div>
                    <div class="home-more-collection-image-title_svg">
                      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="13" viewBox="0 0 19 13" fill="none">
                        <path d="M17.8526 7.18776C18.165 6.87534 18.165 6.3688 17.8526 6.05638L12.7614 0.965216C12.449 0.652797 11.9425 0.652797 11.6301 0.965216C11.3177 1.27764 11.3177 1.78417 11.6301 2.09659L16.1556 6.62207L11.6301 11.1476C11.3177 11.46 11.3177 11.9665 11.6301 12.2789C11.9425 12.5913 12.449 12.5913 12.7614 12.2789L17.8526 7.18776ZM0.734375 7.42207L17.2869 7.42207V5.82207L0.734375 5.82207L0.734375 7.42207Z" fill="#428BC1"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
    <div
      class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"
    ></div>
    <div
      class="swiper-button-next"
      tabindex="0"
      role="button"
      aria-label="Next slide"
      aria-controls="swiper-wrapper-194b100775b2bbaf5"
      aria-disabled="false"
      bis_skin_checked="1"
    >
      <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.1994 12.1345C1.78663 12.4965 1.1307 12.4906 0.724524 12.1225C0.319663 11.7533 0.313068 11.1571 0.711379 10.7818L5.22673 6.67852L0.712724 2.57519H0.71141C0.508976 2.39715 0.393299 2.1522 0.39067 1.89527C0.388041 1.63956 0.499776 1.39222 0.698266 1.21058C0.898071 1.03015 1.17016 0.928577 1.45149 0.93097C1.7341 0.933359 2.00357 1.03851 2.19946 1.22253L7.4575 6.0022C7.86764 6.37622 7.86764 6.98083 7.4575 7.35485L2.1994 12.1345Z"></path>
      </svg>
    </div>
    <div
      class="swiper-button-prev"
      tabindex="-1"
      role="button"
      aria-label="Previous slide"
      aria-controls="swiper-wrapper-194b100775b2bbaf5"
      aria-disabled="true"
      bis_skin_checked="1"
    >
      <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.57228 0.415497C7.03091 0.0017125 7.75973 0.00852947 8.21103 0.429154C8.66088 0.851119 8.66821 1.53256 8.22564 1.96137L3.20858 6.65089L8.22414 11.3404H8.2256C8.45053 11.5439 8.57906 11.8238 8.58198 12.1175C8.5849 12.4097 8.46075 12.6924 8.24021 12.9C8.0182 13.1062 7.71588 13.2223 7.4033 13.2195C7.08928 13.2168 6.78987 13.0966 6.57222 12.8863L0.729949 7.42383C0.274234 6.99638 0.274234 6.30539 0.729949 5.87794L6.57228 0.415497Z"></path>
      </svg>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Home More Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "Content",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
<script>
  const swiper = new Swiper('.home-more-collection-swiper', {
    slidesPerView: 4, // Adjust as needed
    spaceBetween: 10, // Adjust as needed
    loop: true, // Enable infinite loop
    navigation: {
          nextEl: "#template--{{ section.id }}__home_more_collection_QqMfMi .swiper-button-next",
          prevEl: "#template--{{ section.id }}__home_more_collection_QqMfMi .swiper-button-prev",
        },
        pagination: {
          el: "#template--{{ section.id }}__home_more_collection_QqMfMi .swiper-pagination",
          clickable: true,
        },
   breakpoints: {
          0: {
            slidesPerView: 1.5,
            spaceBetween: 10,
          },
          767: {
            slidesPerView: 4,
            spaceBetween: 19,
          }
        },
});
  //   function homeMoreCollectionScript(){
  //     let morecollectionswipertemplate22211986915627home_more_collection_QqMfMi = new Swiper("#template--{{ section.id }}__home_more_collection_QqMfMi .swiper", {
  //       grabCursor: true,
  //       slidesOffsetAfter: 100,
  //       navigation: {
  //         nextEl: "#template--{{ section.id }}__home_more_collection_QqMfMi .swiper-button-next",
  //         prevEl: "#template--22211986915627__home_more_collection_QqMfMi .swiper-button-prev",
  //       },
  //       pagination: {
  //         el: "#template--{{ section.id }}__home_more_collection_QqMfMi .swiper-pagination",
  //         clickable: true,
  //       },
  //       breakpoints: {
  //         0: {
  //           slidesPerView: 1.8,
  //           spaceBetween: 10,
  //         },
  //         767: {
  //           slidesPerView: 5,
  //           spaceBetween: 19,
  //         }
  //       },
  //     });
  //   }

  // if (document.readyState === "loading") {
  //   document.addEventListener("DOMContentLoaded", homeMoreCollectionScript, {once: true})
  // }
  // else {
  //   homeMoreCollectionScript();
  // }
</script>
